body{ 
 background-color:blanchedalmond;
color: darkred;
margin: 0px;
margin-bottom: 100px;
}

header{

border-bottom: solid 2px black;
padding: 20px;
font-size: 32px;
color:sienna;

}

.capa{
    color: azure;
    font-size: 20px;
}

#investigadora{
    display: flex;
    padding-left: 200px;
}

.categoria-videos{
    display: flex;
    overflow: auto;
    gap: 10px;
}